examples/API Init.json
[{"id":"af9796f6.37261","type":"debug","z":"32477da8.fc39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":100,"wires":[]},{"id":"beb338d9.dbf5d8","type":"inject","z":"32477da8.fc39b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":200,"y":100,"wires":[["3b0479b.0ea9986"]]},{"id":"c0917647.a472d8","type":"comment","z":"32477da8.fc39b2","name":"Create Sandbox user","info":"","x":240,"y":60,"wires":[]},{"id":"73eff093.ae52d8","type":"inject","z":"32477da8.fc39b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":200,"y":200,"wires":[["260eba24.4b8b96"]]},{"id":"95ef9a58.0a4428","type":"comment","z":"32477da8.fc39b2","name":"Create Installation","info":"","x":230,"y":160,"wires":[]},{"id":"260eba24.4b8b96","type":"bunq-installation","z":"32477da8.fc39b2","name":"","bunqnode":"975106de.6eda28","x":360,"y":200,"wires":[["b2891aca.a98b8"]]},{"id":"b2891aca.a98b8","type":"debug","z":"32477da8.fc39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":200,"wires":[]},{"id":"5863b9c9.5cf9e8","type":"bunq-deviceserver","z":"32477da8.fc39b2","name":"","bunqnode":"975106de.6eda28","description":"Test","permittedips":"[\"*\"]","x":370,"y":300,"wires":[["862aa6f2.06828"]]},{"id":"9dc6cdfe.5671","type":"inject","z":"32477da8.fc39b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":200,"y":300,"wires":[["5863b9c9.5cf9e8"]]},{"id":"61fd5e5f.e820f8","type":"comment","z":"32477da8.fc39b2","name":"Add device","info":"","x":210,"y":260,"wires":[]},{"id":"862aa6f2.06828","type":"debug","z":"32477da8.fc39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":300,"wires":[]},{"id":"a9fa07cf.60ed38","type":"inject","z":"32477da8.fc39b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":200,"y":440,"wires":[["138a07b0.5fb26"]]},{"id":"ab954496.34a3a","type":"comment","z":"32477da8.fc39b2","name":"Create Session","info":"","x":220,"y":400,"wires":[]},{"id":"9c7a1ffe.5d1a38","type":"debug","z":"32477da8.fc39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":440,"wires":[]},{"id":"138a07b0.5fb26","type":"bunq-sessionserver","z":"32477da8.fc39b2","name":"","bunqnode":"975106de.6eda28","x":360,"y":440,"wires":[["9c7a1ffe.5d1a38"]]},{"id":"3b0479b.0ea9986","type":"bunq-sandbox","z":"32477da8.fc39b2","name":"","bunqnode":"975106de.6eda28","action":"createUser","x":360,"y":100,"wires":[["af9796f6.37261"]]},{"id":"975106de.6eda28","type":"bunq-config","z":"","name":"Sandbox","privatekeyclient":"/data/private_key.pem","installationtoken":"232e6ecb7fadb191d3be5ff04246f6b705151506dfdfc038a3677ae71196fbe6","xbunqgeolocation":"0 0 0 0 000","sandbox":true}]