examples/Usage.json
[{"id":"c39f0911.7de4d8","type":"bunq-user","z":"32477da8.fc39b2","name":"","bunqnode":"975106de.6eda28","x":1030,"y":100,"wires":[["70c39548.850384"]]},{"id":"fe6b3339.5ec08","type":"inject","z":"32477da8.fc39b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":880,"y":100,"wires":[["c39f0911.7de4d8"]]},{"id":"70c39548.850384","type":"debug","z":"32477da8.fc39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":100,"wires":[]},{"id":"413b752a.f48394","type":"bunq-event","z":"32477da8.fc39b2","name":"","bunqnode":"975106de.6eda28","itemid":"","x":1030,"y":160,"wires":[["fd2ea6df.099348"]]},{"id":"8b14a062.e110b","type":"inject","z":"32477da8.fc39b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":880,"y":160,"wires":[["413b752a.f48394"]]},{"id":"fd2ea6df.099348","type":"debug","z":"32477da8.fc39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":160,"wires":[]},{"id":"12e3d9cb.8390ae","type":"inject","z":"32477da8.fc39b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":880,"y":220,"wires":[["f9f52191.8aa228"]]},{"id":"2b7ed76f.18098","type":"debug","z":"32477da8.fc39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":220,"wires":[]},{"id":"ee7ad821.9e1e98","type":"inject","z":"32477da8.fc39b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":880,"y":280,"wires":[["a2ecb1cd.8ce5e8"]]},{"id":"3ed45d0e.6cfb2a","type":"debug","z":"32477da8.fc39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":280,"wires":[]},{"id":"41a827b4.5fd5e8","type":"inject","z":"32477da8.fc39b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":880,"y":340,"wires":[["f26aaeef.b8843"]]},{"id":"fd4cadbd.cc7588","type":"debug","z":"32477da8.fc39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":340,"wires":[]},{"id":"f26aaeef.b8843","type":"bunq-treeprogress","z":"32477da8.fc39b2","name":"","bunqnode":"975106de.6eda28","x":1040,"y":340,"wires":[["fd4cadbd.cc7588"]]},{"id":"3d729945.e6c906","type":"bunq-billingcontractsubscription","z":"32477da8.fc39b2","name":"","bunqnode":"975106de.6eda28","x":1100,"y":400,"wires":[["706a954.7358e6c"]]},{"id":"706a954.7358e6c","type":"debug","z":"32477da8.fc39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":400,"wires":[]},{"id":"6210d6e7.fdd9d","type":"inject","z":"32477da8.fc39b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":880,"y":400,"wires":[["3d729945.e6c906"]]},{"id":"72b3f389.cf3334","type":"inject","z":"32477da8.fc39b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":880,"y":460,"wires":[["55ad4ec3.2f0558"]]},{"id":"58725d97.8f74fc","type":"debug","z":"32477da8.fc39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":460,"wires":[]},{"id":"f9f52191.8aa228","type":"bunq-card","z":"32477da8.fc39b2","name":"","bunqnode":"975106de.6eda28","action":"get","itemid":"","pincode":"","status":{"text":"Success","fill":"green","shape":"ring"},"x":1030,"y":220,"wires":[["2b7ed76f.18098"]]},{"id":"a2ecb1cd.8ce5e8","type":"bunq-monetaryaccount","z":"32477da8.fc39b2","name":"","bunqnode":"975106de.6eda28","action":"getMonetaryAccount","monetaryaccountid":"26844","itemid":"","amount":"5","currency":"EUR","counterpartytype":"INTERNAL","counterpartyval":"NL16BUNQ2025376170","counterpartyname":"Sugar Daddy","description":"test","timestart":"","timeend":"","schedule":false,"size":"","x":1070,"y":280,"wires":[["3ed45d0e.6cfb2a"]]},{"id":"55ad4ec3.2f0558","type":"bunq-bunqmetab","z":"32477da8.fc39b2","name":"","bunqnode":"975106de.6eda28","action":"get","monetaryaccountid":"26844","itemid":"1871","amount":"500.10","currency":"EUR","description":"test","x":1030,"y":460,"wires":[["58725d97.8f74fc"]]},{"id":"f3d0278e.cd2de","type":"bunq-insights","z":"32477da8.fc39b2","name":"","bunqnode":"975106de.6eda28","timestart":"2020-02-01","timeend":"2020-02-29","x":1040,"y":520,"wires":[["9aa4c687.ec25d8"]]},{"id":"b3d4f79e.74f4c8","type":"inject","z":"32477da8.fc39b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"5","x":880,"y":520,"wires":[["f3d0278e.cd2de"]]},{"id":"9aa4c687.ec25d8","type":"debug","z":"32477da8.fc39b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":520,"wires":[]},{"id":"975106de.6eda28","type":"bunq-config","z":"","name":"Sandbox","privatekeyclient":"/data/private_key.pem","installationtoken":"232e6ecb7fadb191d3be5ff04246f6b705151506dfdfc038a3677ae71196fbe6","xbunqgeolocation":"0 0 0 0 000","sandbox":true}]